.contenedor-productos {
    grid-template-columns: repeat(4, 1fr);
}

.contenedor-novedades {
    grid-template-columns: repeat(3, 1fr);
}

.contenedor-lifestyle {
    grid-template-columns: repeat(3, 1fr);
}

footer {
    grid-template-columns: repeat(4, 1fr);
}


@media (max-width:1024px) {

    header {
        flex-direction: column;
        gap: 20px;
        padding: 20px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .iconos {
        justify-content: center;
    }

    .contenedor-productos {
        grid-template-columns: repeat(2, 1fr);
    }

    .contenedor-novedades {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
    }

    .contenedor-lifestyle {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-categoria img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: center;
    }

    .nosotros {
        padding: 60px;
    }

    .detalle-producto {
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

}

@media (max-width:768px) {

    .novedades,
    .productos-categoria,
    .lifestyle {
        padding: 30px 15px;
    }

    .contenedor-productos,
    .contenedor-novedades,
    .contenedor-lifestyle {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .card-producto,
    .card-novedades,
    .card-lifestyle {
        max-width: 340px;
        margin: auto;
    }

    .card-producto img,
    .card-novedades img {
        height: 250px;
        object-fit: contain;
    }

    .card-lifestyle img {
        height: 250px;
        object-fit: cover;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    nav a {
        font-size: .65rem;
    }

    .logo img {
        width: 130px;
    }

    .hero img,
    .banner-categoria img {
        width: 100%;
        height: auto;
    }

    .detalle-producto {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 20px;
    }

    .carousel {
        width: 100%;
        max-width: 350px;
        margin: auto;
    }

    .carousel-item {
        height: 300px;
    }

    .carousel-item img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .detalle-texto {
        width: 100%;
    }

    .contenedor-contacto {
        grid-template-columns: 1fr;
    }

    .contacto-pagina {
        padding: 40px 20px;
    }

    footer {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .iconos-redes {
        justify-content: center;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }

    body {
        overflow-x: hidden;
    }

}