$font-general: Arial, Helvetica, sans-serif;
$font-size-base: 1rem;
$font-size-titulo-card: 1.2rem;
$font-size-iconos: 1.3rem;

$color-blanco: white;
$color-negro: black;

$color-nav-hover: #c0c0c0;
$color-texto-secundario: rgb(71, 69, 69);
$color-negro-hover: #333;

$sombra-card: 0px 4px 10px rgba(0, 0, 0, 0.15);

$radio-card: 10px;

$transition: transform 0.3s;

$padding-seccion: 60px;
$padding-card: 15px;

$gap-nav: 50px;
$gap-logo: 15px;
$gap-iconos: 20px;
$gap-grid: 100px;

$logo-width: 150px;
$card-img-height: 320px;
