.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    font-size: 3rem;
    color: #25D366;
    z-index: 9999;
    transition: transform .3s ease;
}

.whatsapp:hover {
    transform: scale(1.1);
}